form{
    width: 700px;
    border: 1px solid rgb(216, 160, 213);
    border-radius: 0.7rem;
}


select{
    width: 100px;
    height: 200px;
    font-size: medium;
}


body{
    background-color: rgb(73, 68, 68);
    font-size: larger;
}

#centro{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}


label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: larger;
}
input{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
option{
    color: rgb(71, 18, 121);
}

/*TESTE BOTÃO*/
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(100, 27, 88);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(61,0,115,1) 20%, rgba(134,0,212,1) 100%, rgb(204, 0, 255) 100%);
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(12, 12, 12);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
